* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; text-align: left; margin-left: 50px; }

div#login, .padded { padding-top: 50px; }
div#login h1, .padded { padding-bottom: 18px; }

form #messages { margin-top: 15px; line-height: 18px; }
form#password { margin-top: 16px; }

input.short { width: 135px; }

input[type="text"], input[type="password"] {
  padding: 4px 4px 4px 6px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 2px;
}

input[type="submit"] {
  padding: 3px 11px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 4px;
  font-weight: 800;
}

select {
  padding: 8px 32px 8px 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 2px;
}

select.select-groups{
  width: 10em;
  height: 20em;
}

select.select-ous{
  width: 35em;
}

select option {
  padding: 2px 6px 3px 6px;
}

div.not-editable-form-item { margin-bottom: 11px; }

ul { margin: 14px; list-style-type: square; }

div#sec-menu { margin-bottom: 35px; }

h2, h3, h4 { margin-bottom: 18px; }

table { margin-bottom: 12px; }
table.separated { margin-top: 35px; }

th, td { padding-bottom: 8px; }
th { padding-bottom: 12px; }

div#trunk { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -37px; }
div#head { margin-bottom: 50px; padding-top: 20px; }
div#base, .push { height: 37px; }
.push { padding-top: 60px; }
