body { color: #ccc; background-color: #222; }

a { color: #6af; }

input[type="text"], input[type="password"], select {
  border: 1px #777 solid;
  background: #333;
  color: #ccc;
}

input[type="submit"] {
  border: 1px #777 solid;
  background: #333;
  color: #ccc;
}

div.not-editable-form-item { color: #777; }